<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Cadastro Cliente</title>
		<link id="icone_title" rel="icon" href="imagens/favicon.ico">
		<link rel="stylesheet" type="text/css" href="css/reset.css">
		<link rel="stylesheet" type="text/css" href="css/cadastro.css">
		<link href="https://fonts.googleapis.com/css?family=Creepster" rel="stylesheet">
	</head>
	<body>
		<header>
			<div class="container">
				<a href="home.html"><div class="imagemFundo"></div></a>
				<h1>Cadastro de Clientes</h1>
			</div>
		</header>
		<main class="container">
			<section>
				<h2>Mensalistas</h2>
				<table>
					<tr>
						<th>Nome</th>
						<th>Endereco</th>
						<th>Telefone</th>
						<th>Email</th>
						<th>Editar</th>
						<th>Excluir</th>
					</tr>
					
				</table>
				
			</section>
			<section>
				<h2>Adicionar mensalista</h2>	
				<form>
					<fieldset class="campo-medio">
						<label for="campo-nome">Nome:</label>
						<input id="campo-nome" type="text" placeholder="nome do cliente">
					</fieldset>

					<fieldset class="campo-medio">
						<label for="campo-endereco">Endereco:</label>
						<input id="campo-endereco" type="text" placeholder="endereco do cliente">
					</fieldset>

					<fieldset class="campo-medio">
						<label for="campo-telefone">Telefonte:</label>
						<input id="campo-telefone" type="tel" placeholder="Telefone do cliente">
					</fieldset>

					<fieldset class="campo-medio">
						<label for="campo-email">Email:</label>
						<input id="campo-email" type="text" placeholder="email do cliente">
					</fieldset>

					<button id="adicionar-mensalista" class="botao bto-principal">Adicionar</button>
				</form>
			</section>
		</main>
		<footer class="footer">
			<h3  id = "copy">&copy; Danillo Romano, Henrique Gasques 2016</h3>
		</footer>
				
		<script src="jquery-3.0.0.min.js"></script>
		
		<script src=js/CriaTabela.js></script>
		<script src=js/Adiciona.js></script>
	</body>
</html>